@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
* {
  margin: 0px;
}
:root {
  --cor1: #0d0d0d;
  --cor2: #141a26;
  --cor3: #2e3d59;
  --cor4: #8679d9;
  --cor5: #5833a6;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", serif;
  --fonte-secudaria: "Roboto", serif;
  --fonte-nome: "Dancing Script", cursive;
}
nav {
  background-color: var(--cor1);
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: var(--fonte-padrao);
}
.nav-items {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move os itens para a esquerda */
}
.nav-items > a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
#text1 {
  border-radius: 10px;
  padding: 3px;
  margin-right: 5px;
}
#botao1 {
  border-radius: 8px;
  margin-right: 10px;
  padding: 3px;
  width: 30px;
}
#text1:hover {
  background-color: #c9c7c7;
}
#botao1:hover {
  background-color: #c9c7c7;
}
.aa1:hover,
.aa2:hover,
.aa3:hover,
.aa5:hover {
  color: #c9c7c7;
}
nav > img {
  margin-left: 10px;
}
h1 {
  font-family: var(--fonte-destaque);
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}
h2 {
  font-family: var(--fonte-secudaria);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h3 {
  font-family: var(--fonte-secudaria);
  font-weight: 700;
}
h4 {
  font-family: var(--fonte-padrao);
}
p {
  font-family: var(--fonte-padrao);
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
}
section {
  padding: 15px;
}
abbr {
  text-decoration: none;
}
.hero {
  background-image: url(imagem/2img1280.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.artigo1 > h1 {
  margin-bottom: 15px;
}
.container {
  background-color: var(--cor1);
  padding: 20px 10px;
  color: white;
  text-align: center;
}
.container > h2 {
  text-align: left;
}

#b1,
#b2,
#b3,
#b4 {
  background-color: var(--cor1);
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 15px 100px;
  border-radius: 50%;
  position: relative;
}
div > p {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
div:hover > p {
  display: block;
}
#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover {
  transform: scale(1.1);
}
#b1:hover img,
#b2:hover img,
#b3:hover img,
#b4:hover img {
  filter: blur(10px);
}
#b1 {
  transition: transform 0.5s;
  background-image: url(imagem/Nebulosa\ cabeça\ de\ cavalo.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#b2 {
  transition: transform 0.5s;
  background-image: url(imagem/Andromeda1.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#b3 {
  transition: transform 0.5s;
  background-image: url(imagem/1Messier\ 42.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#b4 {
  transition: transform 0.5s;
  background-image: url(imagem/NGC\ 2237.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.artigo2 > h2 {
  margin-bottom: 15px;
}
aside {
  background-color: var(--cor1);
  padding: 30px 10px;
  color: white;
}
aside > h2 {
  margin-bottom: 20px;
  margin-left: 5px;
}
aside > p {
  margin-left: 5px;
}
.artigo3 > h2 {
  margin-bottom: 15px;
}
#m42 {
  margin-left: 40px;
  margin-bottom: 25px;
}

div#container1 {
  background-color: var(--cor1);
  color: white;
  padding: 20px;
}
.artigo4 > h2 {
  margin-bottom: 15px;
}
.artigo4 > h3 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
}
.artigo4 a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  background-color: var(--cor1);
  color: white;
  padding: 20px;
}
footer p {
  margin-top: 10px;
}
footer div {
  margin: 30px;
}
.social-media a {
  padding: 10px;
  text-decoration: none;
  color: white;
}
.aa6:hover,
.aa7:hover,
.aa8:hover {
  text-decoration: underline;
}
#creditos {
  text-align: center;
}
.wilner {
  text-align: right;
  font-size: 0.8em;
}
.wilner1 {
  font-family: var(--fonte-nome);
}
.artigo5 > h2 {
  margin-bottom: 15px;
}
#marte {
  margin-left: 15px;
  margin-bottom: 25px;
}
.hero1 {
  background-image: url(imagem/nebulosa\ do\ coraçao.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  color: rgb(253, 253, 253);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero1 h1 {
  margin-top: 50px;
}
.hero1 h2 {
  margin-top: 20px;
}
.hero1 h3 {
  margin-top: 20px;
  line-height: 30px;
}
.artigo6 > h2 {
  margin-bottom: 15px;
}
.linasa {
  text-decoration: none;
  font-size: 0.7em;
}
#pnasa {
  margin-top: 20px;
}
.artigo7 {
  text-align: center;
}
.artigo7 > div {
  margin-top: 40px;
  display: inline-block;
  margin-right: 40px;
  position: relative;
  height: 280px;
  width: 180px;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
#pilares h3,
#via h3,
#orion h3{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2em;
  text-align: center;
}
#pilares a,
#via a,
#orion a{
  text-decoration: none;
  color: white;
  
}
#pilares:hover h3,
#via:hover h3,
#orion:hover h3{
  display: block;
}
#pilares {
  background-image: url(imagem/pilares\ da\ criaçao.jpg);
}
#via {
  background-image: url(imagem/Via\ láctea.jpg);
}
#orion {
  background-image: url(imagem/NGC\ 5128.jpg);
}

#pilares:hover,
#via:hover,
#orion:hover,
#ngc:hover {
  transform: scale(1.1);
}
@media (max-width: 700px) {
  nav > a {
    padding: 3px;
  }
  nav > img {
    margin-left: 0px;
    margin-right: 5px;
  }
  #botao1 {
    margin-right: 3px;
    width: 30px;
  }
  .nav-items > a {
    padding: 3px;
  }
  #text1 {
    width: 160px;
  }
  .hero {
    font-size: 1.5em;
    background-image: url(imagem/mmimg1280.jpg);
  }
  #b1,
  #b2,
  #b3,
  #b4 {
    margin: 10px 60px;
  }
  #creditos {
    margin-bottom: 15px;
  }
  .social-media a {
    padding: 3px;
  }
  #marte {
    width: 300px;
  }
  .hero1 h1 {
    margin-top: 10px;
  }
  #james {
    width: 350px;
  }
  .artigo7 > div{
    margin-left: 50px;
  }
  
}
@media (max-width: 1245px) {
  #b1,
  #b2,
  #b3,
  #b4 {
    margin: 10px 60px;
  }
}
@media (max-width: 927px) {
  #b1,
  #b2,
  #b3,
  #b4 {
    margin: 10px 20px;
  }
  .hero1 {
    background-image: url(imagem/nebulosa\ do\ coraçao4.jpg);
  }
}
@media (max-width: 585px) {
  #b1,
  #b2,
  #b3,
  #b4 {
    margin: 10px 5px;
  }
}
@media (max-width: 470px) {
  #b1,
  #b2,
  #b3,
  #b4 {
    margin: 10px 30px;
  }
}
@media (max-width: 952px) {
  .artigo7 > div{
    margin-left: 27px;
  }
}
@media (max-width: 430px) {
  .artigo7 > div{
    margin-left: 40px;
  }
}


